table {
  color: black;
  font-size: 3em;
  border: 3px solid #666;
  width: 584px;
  height: 580px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 0px 10px 2px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 0px 10px 2px rgba(50, 50, 50, 0.5);
  margin: 20px;
}

td{
  background: #FFF;
  height: 70px;
  width: 70px;
  text-align: center;
}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even){
  background: #444;
}
form{
  overflow: hidden;
}
input{
  float: left;
  clear: both;
}
